@import "./global/global.css";
@import "./global/variables.css";

.app__header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.app__command-block {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
