.calc {
  box-sizing: content-box;
  position: relative;
}

.calc__icon {
  padding: var(--smallPadding);
  padding-left: 0;
}

.calc__icon:active {
  opacity: 0.5;
}

.calc__pad {
  box-sizing: border-box;
  position: absolute;

  width: 100vw;
  height: 100vw;

  display: grid;

  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas:
    "action operation"
    "number operation";

  margin: var(--smallPadding) 0 0 calc(-1 * var(--smallPadding));
  padding: 0;

  font-size: 2em;
}

.calc__actions {
  grid-area: action;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 0;
  padding: 0;

  font-size: 1em;
}

.calc__numbers {
  grid-area: number;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  margin: 0;
  padding: 0;

  font-size: 1em;
}

.calc__operations {
  grid-area: operation;

  display: grid;
  grid-template-columns: 1fr;

  margin: 0;
  padding: 0;

  font-size: 1em;
}

.calc__button {
  height: 20vw;

  display: grid;

  justify-content: center;
  align-content: center;

  margin: 0;
  padding: 0;
  border: solid var(--Black) 1px;

  color: white;

  font-size: 1em;
}

.calc__button:active {
  filter: brightness(150%);
}

.calc__button--actions {
  background-color: var(--DarkGray);
}

.calc__button--numbers {
  background-color: var(--Gray);
}

.calc__button--operations {
  background-color: var(--mainOrange);
}

.calc__button--double {
  grid-column: span 2;

  padding-right: 50%;
}
